* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*corpo*/
body {
  color: green;
  background-color: yellow;
}

.base {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background-color: orange;
  width: 30%;
}
.base span {
  color: red;
  font-size: 30px;
}
